.light_blue_circle{width:100px;height:100px;border-radius:50px;font-size:20px;background:#93FFE8;line-height:100px;text-align:center;background:#000}
.blue_circle{width:100px;height:100px;border-radius:50px;font-size:20px;background:#0000FF;line-height:100px;text-align:center;background:#000}
.orange_circle{width:100px;height:100px;border-radius:50px;font-size:20px;background:#FFA500;line-height:100px;text-align:center;background:#000}
.green_circle{width:100px;height:100px;border-radius:50px;font-size:20px;background:#FFA500;line-height:100px;text-align:center;background:#000}
